git /.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb
/db/*.sqlite3-journal

.byebug_history

/public/assets/*
!/public/assets/ckeditor
!/public/assets/images

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/.idea

Gemfile.lock
public/uploads
db/schema.rb
public/assets