<h1>Добро пожаловать в Мятный Домик!</h1>
<p>
  Мы сгенерировали для вас пароль: <%= @user.password %>, вы можете отслеживать статус вашего заказа в
  <%= link_to 'личном кабинете', 'http://minty-store.ru' + profile_path %>
</p>