<div class="cart-entry clear">
  <div class="image" style = 'background-image: url(<%= images_for(cart_entry.product)[0] %>)'></div>
  <div class="details">
    <span><%= cart_entry.product.name %></span> <br/>
    <span>Количество: <%= cart_entry.amount %></span>
  </div>
  <span class = 'subtotal'><%= cart_entry.subtotal %></span>
</div>