<div class="ui text container">
  <h1 class='font-accent'>Спасибо за заказ!</h1>

  <p>Скоро мы свяжемся с вами для уточнения деталей заказа и осуществления оплаты.</p>
  <p>Вы можете отслеживать статус заказа в <%= link_to 'личном кабинете', profile_path, class: 'link' %>.</p>

  <% if @new_user %>
    <p> Мы сгенерировали для вас пароль: <%= @password %>. </p>
  <% end %>

</div>