<%= render partial: '/sub_header', locals: {title: 'Заказы'} %>

<div class = 'medium container'>
  <% @orders.each do |order| %>
      <div class = 'orders'>
        <%= render order %>
        <%= link_to 'Show', order %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>
</div>