<div class='text-container'>
  <div class = 'order-details'>
    <h1><%= render @order %></h1>
    <%= render partial: @order.user_data %>
    <div>Создан: <%= @order.created_at %></div>
  </div>

  <div class="order-summary">
    <%= render partial: 'summary', locals: { order: @order } %>
  </div>
</div>
