<div class="author text-container">
  <div class="img-container">
    <img src="https://pp.vk.me/c616222/v616222048/fa41/6WGrobzZ39A.jpg" alt="Александра Тоботрас"/>
  </div>
  <h1>Александра тоботрас</h1>
  <p>Несколько солв об авторе...</p>
</div>