<%= content_for :sub_header do %>
    <h1 class="medium container page title">
      О магазине
    </h1>
<% end %>

<section class="author-page text-container">
  <h1 class="title">Мятный Домик. Александра Тоботрас</h1>
  <div class="img-container">
    <img src="https://pp.vk.me/c616222/v616222048/fa41/6WGrobzZ39A.jpg" alt="Александра Тоботрас"/>
  </div>
  <h1>Александра Тоботрас</h1>
  <p>Несколько солв об авторе...</p>
</section>