<%= content_for :sub_header do %>
    <h1 class="medium container page title">
      О магазине
    </h1>
<% end %>

<section class="author-page text-container">
  <h1 class="title">Мятный Домик. Александра Тоботрас</h1>
  <div class="img-container">
    <img src="https://pp.vk.me/c616222/v616222048/fa41/6WGrobzZ39A.jpg" alt="Александра Тоботрас"/>
  </div>
  <p>Всем привет!</p>
  <p>Меня зовут Александра Тоботрас, и я создаю все, что вы увидите на страницах этого сайта.</p>
  <p>Очень рада познакомиться :)</p>

  <p>В данный момент я живу на два города: Тюмень и Москва, но в ближайшие годы надеюсь окончательно переехать и пополнить ряды столичных хэндмейдеров. А вместе со мной и мое детище - Мятный Домик. А что это такое и с чем его едят, я постараюсь вам немного подробнее объяснить ниже.</p>

  <p>Я рисую почти сколько себя помню. С 2008 года начала делать упор на цифровую графику, но рисуя на компьютере, всегда ощущала нехватку чего-то осязаемого, материального. В общем, несколько лет назад я впервые попробовала расписать деревянную шкатулку, просто для себя, для души, и пришло внезапное абсолютно четкое осознание: это мое.</p>

  <p>Откуда такое название?</p>
  <p>Мятный Домик - это для меня квинтэссенция всего уютного и приятного, душевного. Никаким другим я название своей мастерской не вижу, хотя иногда приходят мысли его сменить, но всегда это заканчивается пониманием, что вот так - идеально, и лучше уже не будет.</p>


  <p>"Мятный Домик" - обитель уютных, милых и волшебных деревянных украшений с росписью. В основном - что-то простое, милое, трогательное и глазастое, чуть реже - что-то фентезийное, волшебное и сказочное. Очень люблю животных и волшебных существ и часто их рисую, зачастую наделяю изображенных персонажей душой и придумываю для них историю: внутри Мятного Домика создается отдельное фантазийное местечко под названием Внепределье или Зачарованный Лес, где оживают и обретают свои истории все персонажи, изображенные на моих работах.</p>
  <p>Я делаю свои украшения как можно более нежными и милыми. Такими, какие можно надеть на первое свидание, на пикник или на прогулку с друзьями. Такими, какие можно носить каждый день, излучая немножко позитива и тепла. Как можно более уютными и сахарными, волшебными и трогательными.</p>

  <p>Почему именно дерево?</p>
  <p>Начнем с того, что деревянные заготовки доступные и недорогие, что позволяет мне создавать, а вам - покупать, украшения по приятным ценам.</p>
  <p>Кроме того, в отличие от металлических, керамических, пластиковых украшений, деревянные - безумно легкие, а потому приятные при носке.</p>
  <p>Вы когда-нибудь держали в ручках свежеспиленную доску? Или выжигали по дереву? Этот запах не передать словами. Даже пройдя тысячи километров, деревянные заготовки сохраняют свой родной запах. А представьте, как на него наложится еще и легкий запах краски. Эти украшения обладают душой, и никогда ее не потеряют.</p>



  <p>Надеюсь, вы увидите здесь что-нибудь, что приглянется именно вам! А если нет - не спешите убегать: оставайтесь. Мы порадуем вас уютной дружеской атмосферой и обязательно найдем что-нибудь по душе.</p>
</section>