<%= content_for :sub_header do %>
    <h1 class="medium my-container page title">
      Оплата и доставка
    </h1>
<% end %>

<div class = 'payment medium container'>
  <h1>Оплата</h1>

  <p>
    Сначала обдумайте свою покупку, обсудите все условия, потом оплачивайте. Предоплату я не возвращаю,
    если вы просто передумали покупать. Изделия, изготовленные на заказ, возврату и обмену не подлежат.
  </p>

  <ol>
    <li>на кошельки электронных платежных систем: Qiwi или Яндекс-деньги. (можно оплатить с обычных терминалов);</li>
    <li>перевод на банковскую карту Альфа-банка, Сбербанка;</li>
    <li>наличными при самовывозе в г. Тюмени.</li>
  </ol>

  <h1>Доставка</h1>
  <ol>
    <li>самовывоз в г. Тюмени - бесплатно;</li>
    <li>доставка курьером до двери - 150 руб;</li>
    <li>доставка по России - 200 рублей.</li>
  </ol>
  <p>
    Доставка за пределы России осуществляется только при минимальном заказе от 2000р, и ее стоимость 250 рублей,
    и акции на доставку за границу не распространяются.
  </p>
  <p>
    Обратите внимание, за качество работы нашей почты я ответственности не несу!
  </p>
  <p>
    Если Вы заказываете украшение, но не приходите на встречу / на почту за посылкой и вообще пропадаете,
    то оставляю за собой право отказать Вам в дальнейшем сотрудничестве.
  </p>
</div>