<div class='ui text container'>
  <div class='specials'>
  <%= image_tag 'arrow-left-active.png', class: 'prev-special' %>
    <% @specials.each do |file| %>
        <%= render file: file %>
    <% end %>
  <%= image_tag 'arrow-right-active.png', class: 'next-special' %>
  </div>
</div>