.counter {
  @extend .font-accent;
  text-align: justify;
  width: 180px;
  font-size: 22px;

  span {
    cursor: pointer;
    width: 40px;
    display: inline-block;
    text-align: center;
    background-color: lighten($brand-color-2, 20%);
  }

  .count {
    width: 90px;
    background-color: lighten($brand-color-2, 30%);
  }
}