<div class="image-upload" data-max="<%= max %>">
  <span> Добавить изображение
    <input id="fileupload" type="file" name="<%= name %>" <%= 'multiple' if max > 1 %> >
  </span>
  <div class="img-preview-cnt"></div>
</div>