<div class="image-upload-cnt" data-max="<%= max %>">
  <div class="image-upload">
    <button class="btn btn-primary"> Добавить изображение
      <input id="fileupload" type="file" name="<%= name %>" <%= 'multiple' if max > 1 %> >
    </button>
  </div>
  <div class="row img-preview-cnt"></div>
</div>


