<div class="order summary">
  <h3 class="font-accent">Детали заказа</h3>
  <p><%= personal_order.comment %></p>

  <div class="section stocked">
    <div class="entries">
      <%= image_tag image_for personal_order %>
    </div>
  </div>
</div>