<div class="personal order summary">
  <h3 class="font-accent">Детали заказа №<%= personal_order.order.id %></h3>
  <p class="description"><%= personal_order.comment %></p>

  <div class="images">
    <% personal_order.images.each do | img | %>
      <%= image_tag img.file.regular.url %>
    <% end %>
  </div>
</div>