<div class="personal-order">
  <h3><%= personal_order.id %></h3>
  <p><%= personal_order.comment %></p>
  <div class="images">
    <% personal_order.images.each do | image | %>
        <%= image_tag image.file.url %>
    <% end  %>
  </div>
</div>