<%= render partial: '/sub_header', locals: {title: 'Мятный Домик. Блог'} %>

<div class="articles medium container">
  <% if admin_signed_in? %>
      <div class="new-article">
        <a href="<%= new_article_path %>">
          Добавить статью
        </a>
      </div>
  <% end %>
  <%= render partial: @articles %>
</div>