.cart-modal {
  @extend .no-select;
  position: absolute;
  width: 400px;
  right: -500px;
  max-height: 100%;
  background-color: transparent;
  z-index: 10;
  overflow-y: auto;

  header {
    @extend .font-accent;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    font-size: 35px;
    padding: 0 5px;
  }

  img.close-cart {
    width: 12px;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .book {
    @extend .bordered;
    background-color: white;
  }

  .section {
    h3 {
      @extend .font-accent;
      margin: 0;
      text-align: center;
      font-size: 30px;
      padding-bottom: 0.25px;
      background-color: $brand-color-1;
    }
  }

  .products {
    width: 340px;
    margin: auto;
    padding: 1em 0 0.8em 0;
  }

  .total-container {
    position: relative;
    font-size: 19px;
    padding: 7px;
    text-align: left;
    background-color: $brand-color-1;
    .total {
      @extend .font-accent;
      position: absolute;
      top: 0.125em;
      right: 10px;
      text-align: right;
    }
  }
  .make-order {
    @extend .font-accent;
    background-color: $brand-color-2;
    color: white;
    font-size: 34px;
    padding: 26px;
    text-align: center;
    cursor: pointer;
  }
}

.cart-product {
  display: inline-block;
  margin-top: 0.2em;

  .img-container {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .details {
    vertical-align: top;
    display: inline-block;

    h4 {
      position: relative;
      font-size: 16px;
      margin-bottom: 6px;
      padding: 7px 5px;
      text-align: left;
      background-color: $brand-color-3;
    }

    .counter {
      vertical-align: top;
      display: inline-block;

      span {
        vertical-align: top;
      }

      .less-btn,
      .more-btn {
        font-size: 24px;
      }
    }

    .price {
      @extend .font-accent;
      font-size: 26px;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      text-align: center;
      width: 60px;
      background-color: $brand-color-4;
    }
    .remove {
      position: absolute;
      top: 11px;
      right: 7px;
      display: inline-block;
      cursor: pointer;
      height: 12px;
      vertical-align: middle;
    }
  }
}