@import "variables";
@import "mixins";
@import "fonts";

body {
  @extend .regular;
  background: $brand-bg-color-3;
  color: #8B8379;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: black;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  color: black;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 3px;
  background-color: $button-bg-color;
  &:hover {
    background-color: $button-bg-color__hover;
  }
}

.hide {
  display: none !important;
}

p {
  text-align: justify;
  font-size: 20px;
}

.image-container {
  img {
    width: 100%;
  }
}

.clear:after {
  content:"";
  display:table;
  clear:both;
}

h1, h2, h3, h4, h5, h6 {
  @extend .regular;
}