@import "variables";
@import "mixins";
@import "fonts";

$footer-height: 220px;

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer-height;
}

body {
  @extend .regular;
  background-image: url(/assets/images/back.jpg);
  color: $font-color-1;
}

.button {
  display: inline-block;
  cursor: pointer;
  color: black;
  padding: 8px 12px;
  font-size: 18px;
  background-color: $brand-color-2;
  &:hover {
    background-color: $brand-color-2;
  }
}

.hide {
  display: none;
}

p {
  font-size: 20px;
}

.image-container {
  img {
    width: 100%;
  }
}

.clear:after {
  content:"";
  display:table;
  clear:both;
}

::selection {
  background: $brand-color-1;
}
::-moz-selection {
  background: $brand-color-1;
}

h1, h2, h3, h4, h5, h6 {
  @extend .regular;
}

.title {
  font-size: 1.2em;
}

input,
textarea,
button {
  outline: none;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.bordered {
  border: 1px solid #BBB8B4;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type=submit],
textarea {
  @extend .bordered;
}

.square {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.rectangle {
  @extend .square;
  &:before {
    padding-top: 50%;
  }
}

.btn {
  @extend .font-accent;
  border: none;
  cursor: pointer;
  background: $brand-color-3;
  text-transform: uppercase;
  color: $font-color-1;
  clear: both;
  padding: 0 10px 5px 10px;
  margin-top: 5px;
  text-align: center;
  font-size: 32px;

  &:hover {
    color: $font-color-1;
  }
}

.page.title {
  @extend .font-accent;
  @extend .no-select;

  cursor: default;
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding-bottom: 0.2em;
  border-radius: 0 0 10px 10px;
  background-color: $brand-color-3;
}

.container {
  margin: auto;

  &.large  { width: 1366px; }
  &.medium { width: 1024px }
  &.small  { width: 768px; }
}

.main.content {
  background-color: white;
  padding: 1em 0;
}

a {
  color: $font-color-1;

  &:hover {
    color: darken($font-color-1, 20%);
  }
}

.link {
  color: $font-color-1;

  &:hover {
    color: darken($font-color-1, 20%);
    border-bottom: 2px solid $brand-color-3;
  }

  &.dim {
    color: $brand-color-1;

    &:hover {
      color: $brand-color-2 ;
    }
  }

  &.current {
    cursor: default;
    border-bottom: 2px solid $brand-color-2;
  }
}

$arrows_directions: ('left', 'right');
$arrows_widths: ('long', 'short');
$arrows_colors: ('white', 'brown');

.arrow {
  background-size: cover;
  display: inline-block;
  width: 1rem;
  height: 1rem;

  @each $direction in $arrows_directions {
    @each $width in $arrows_widths {
      @each $color in $arrows_colors {
        &.#{$direction}.#{$width}.#{$color} { background-image: url(/assets/images/arrow_#{$direction}_#{$width}_#{$color}.png) }
      }
    }
  }
}

:focus {
  outline: none;
}