header {
  @extend .no-select;
  position: relative;
  background-color: $brand-color-1;
  text-align: center;
  vertical-align: middle;

  nav {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 550px;
    padding: 0 200px;

    .left-nav,
    .right-nav {
      width: 200px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);

      .links-cnt {
        @extend .font-accent;
        font-size: 1.6em;
        line-height: 1.1em;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;

        .link { color: white; }
      }
    }

    .left-nav {
      left: 0;
      text-align: right;

      @for $i from -1 to 2 {
        & .header-link:nth-of-type(#{$i + 2}) {
          position: relative;
          right: - ($i * $i) * 10px;
        }
      }
    }

    .right-nav {
      right: 0;
      text-align: left;

      @for $i from -1 to 2 {
        & .header-link:nth-of-type(#{$i + 2}) {
          position: relative;
          left: - ($i * $i) * 10px + 5px;
        }
      }
    }

    .logo {
      display: inline-block;
      img {
        height: 7em;
      }
    }
  }
}

.icons {
  position: absolute;
  right: 1em;
  bottom: .5em;

  span {
    margin-left: 1em;
    cursor: pointer;
  }

  img {
    height: 2.5em;
  }
}

.cart-icon,
.profile-icon,
.order-icon {
  float: left;
}

.cart-icon .items-counter {
  color: $font-color-1;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 0;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  height: 25px;
  width: 25px;
  line-height: 16px;
  background-color: $brand-color-3;
  border-radius: 50px;
}