.collection.image-container,
.special.image-container{
  width: 30vh;
  height: 30vh;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.products-cnt,
.special-cnt,
.collection-cnt {
  float: left;
  width: 28%;
}

.products-cnt {
  width: 44%;
  padding: 0 1em;

  .product {
    width: 50%;
  }
}

.hot.container {
  padding: 40px !important;
  .column {
    padding: 0.2em !important;
    overflow: hidden;
  }
}

.stick-to-right .product {
  margin: auto 5px auto auto;
}

.special-info,
.collection-info {
  padding: 10px 0;
  h2 {
    text-align: center;
  }
}

.button-container {
  clear: both;
  text-align: center;
  margin-top: 5px;
  padding: 10px 8px;

  .link-to-store {
    margin: auto;
    padding: 5px 10px;
    display: block;
    text-align: center;
    background-color: #EDB78E;
    font-size: 22px;
  }
}