.img-container {
  text-align: center;

  img.root-logo {
    width: 30%;
  }
}

.main-page p {
  font-size: 23px;
}

section.intro {
  text-align: center;
}

.main-page section:nth-child(odd) {
  background-color: $brand-color-4;
}

section.intro,
section.store,
section.author,
section.reviews,
section.author-page {
  padding: 1em;
  margin-bottom: 1em;
}

section.author,
section.author-page {
  .img-container {
    text-align: center;
    img {
      width: 60%;
    }
  }
}

.text-container {
  width: 900px;
  margin: auto;
}

.personal-order {
  margin-top: 1em;
  text-align: center;

  .dream-btn {
    text-transform: uppercase;
    background-color: $brand-color-3;
  }
}

.btn.to-store {
  text-align: center;
  display: inline-block;
}