header.root {
  text-align: center;
  img {
    width: 15%;
  }
}

section.intro,
section.author,
section.reviews {
  margin-top: 2em;
  padding: 1em;
  background-color: $brand-color-2;
}

.author {
  .img-container {
    text-align: center;
    img {
      width: 60%;
    }
  }
}

.text-container {
  width: 900px;
  margin: auto;
}

