@import 'specials';
@import 'product-modal';

.store-controls {
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .tabs {
    background-color: $brand-bg-color-1;

    li {
      @extend .font-accent;
      padding-top: 0.2em;
      padding-bottom: 0.35em;
      margin: 0;
      display: block;
      width: 33.333333%;
      float: left;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      color: darken($brand-hover-color, 20);

      &:hover {
        background-color: darken($brand-bg-color-1, 10);
      }
    }

    li.collections {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    li.active {
      cursor: default;
      background-color: darken($brand-bg-color-1, 20);
    }
  }

  .sub-menu {
    position: relative;
    text-align: center;
    padding: 0.5em 10em;
    background-color: $brand-bg-color-2;

    ul.tags.cloud {

      li {
        display: inline-block;
        font-size: 1em;
        padding: 0 0.4em;
        cursor: pointer;
        text-transform: uppercase;
        color: white;
        &:hover {
          background-color: $band-selected-color;
        }
        &.active {
          display: inline-block !important;
        }
      }
    }
    input[type='search'] {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      width: 180px;
    }
  }
}

.product {
  position: relative;
  overflow: hidden;
  float: left;
  width: 20%;
  opacity: 0;
  @include transition(all 0.3s);

  .product-data {
    position: absolute;
    padding: 2px 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.show {
    opacity: 1;
    left: 0;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  h3 {
    color: #155254;
    z-index: 1;
  }

  &:hover h3 {
    opacity: 1;
    @include translateY(0);
  }
  &:hover .product-image {
    opacity: 0.3;
  }
  &:hover {
    .product-info {
      opacity: 1;
      @include translateY(-50%);
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: rgb(182, 159, 141);
  list-style: none;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.product .product-info {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  opacity: 0;

  .learn-more {
    width: 35px;
    cursor: pointer;
  }

  @include transition(all 0.3s);
  @include translateY(-100%);
  p {
    text-align: center;
  }
}

.no-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.disabled {
  background-color: $disabled-color !important;
}