.products.modal {
  @extend .bordered;
  background-color: white;
  margin: 1em 5%;

  h2 {
    @extend .font-accent;
    text-align: center;
    font-size: 36px;
    margin: 0;
    background-color: $brand-color-1;
  }

  .modal-left-part {
    float: left;
    width: calc(100% - 280px);
    height: 100%;
  }

  .modal-right-part {
    float: right;
    width: 280px;
    height: 100%;
  }

  .modal-top-half {
    height: 50vh;
  }

  .modal-bottom-half {
  }

  .modal-product-images {
    text-align: center;
    padding: 0.5em;

    .img-container {
      background-color: $brand-color-4;
      position: relative;
      display: block;
      padding: 0.5em 2em;
      height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .left,
      .right {
        cursor: pointer;
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        width: 1.7em;
        opacity: 0.5;

        &
        :hover {
          opacity: 1;
        }

      }
      .left {
        left: 0.5em;
      }

      .right {
        right: 0.5em;
      }

    }
  }
  .modal-product-description {
    position: relative;
    text-align: justify;
    padding: 1em 2em;
    margin: 0;

    &
    >
    p {
      font-size: 1em;
      float: left;
    }

  }

  .modal-product-tags {
    padding: 0.5em;

    .modal-tags {

      a {
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        padding: 0 0.2em;
        margin: 0.1em;
        border-radius: 4px;
        background-color: $brand-color-1;
      }

      .collection {
        background-color: lighten($brand-color-2, 20%);
      }

      .special {
        background-color: $brand-color-3;
      }
    }
  }

  .product-modal-side {
    padding: 0.2em 0;

    .modal-product-actions {
      margin: auto;
      width: 260px;
      text-align: center;

      .buy-menu,
      .order-menu {

        .counter {
          float: right;
        }

        .amount-info {
          display: block;
          text-align: center;
          color: $font-color-1;
          height: 18px;
          font-size: 18px;
          margin-top: -5px;
          margin-bottom: 3px;
        }


        .price {
          @extend .font-accent;
          font-size: 34px;
          float: left;
          width: 70px;
          display: inline-block;
          padding: 9px 0 13px 0;
          background-color: $brand-color-4;
        }
      }

      .btn {
        display: block;
      }

      .buy-button,
      .order-button {
        background-color: $brand-color-3;
        margin-top: 57px;
      }

      #order-comment {
        max-width: 100%;
        width: 100%;
      }

      .store-info {
        font-size: 18px;
        text-align: justify;
        margin-bottom: 5px;

        & .modal-switch {
          font-weight: bold;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}