.user-orders {
  padding: 92px;

  .order-cnt {
    padding: 10px;
    float: left;
  }
}

.user-data {
  .main, .contacts {
    margin: 10px;
    float: left;
    td {
      padding: 2px 5px;
    }
  }
}