$brand-bg-color-1: #B69F8D;
$brand-bg-color-2: #c4ead2;
$brand-bg-color-3: #F5FFED;
$brand-text-color-1: #756651;
$brand-text-color-2: #B7A08E;
$brand-hover-color: #342b26;
$band-selected-color: #94D6BA;

$brand-color-1: #C8DDD6;
$brand-color-2: #EBF5EF;
$brand-color-3: #EDB78E;

$font-color-1: #726a60;
$font-color-2: #a3a3a3;
$disabled-color: #F8F2EE;