<section class='medium collections container clear'>
  <% if admin_signed_in? %>
      <div class="new-item">
        <%= link_to 'Новая коллекция', new_category_path, class: 'link' %>
      </div>
  <% end %>
  <%= render partial: @collections, locals: {context: 'thumb'} %>
</section>
