<div class = 'four wide column product' title = '<%= product.name %>' data-id = '<%= product.id %>'>
    <div class = 'product-data' style = 'background-image: url(<%= image_for product %>)'>&nbsp;</div>
</div>