<%= image_tag 'arrow-left-active.png', class: 'get-prev' %>
<div class = 'store-specials'></div>
<div class = 'ui doubling stackable grid store-products'></div>
<%= image_tag 'arrow-right-active.png', class: 'get-next' %>