<footer>
  <div class="footer-content medium container clear">
    <div class="information">
      <h3 class="font-accent">Мятный домик</h3>
      <p>Россия, Тюмень</p>
      <a href="mailto:orum-the-cat@yandex.ru">orum-the-cat@yandex.ru</a>
      <p>+7 (909) 192 22 36</p>
      <a href="https://vk.com/mintystore" class="social-link"><img src="/assets/images/vkontakte.png" alt="vk"/></a>
      <a href="https://www.etsy.com/shop/LittleMintyLoft" class="social-link"><img src="/assets/images/etsy.png" alt="vk"/></a>
    </div>

    <%= form_tag new_subscription_path, remote: true, class: 'subscription' do %>
      <h2>Подпишитесь на наши новости</h2>
      <input type="email" name="email" required placeholder="Введите ваш email" class="subscription-email">
      <button type="submit" class="subscribe"><span class="right long arrow white"></span></button>
    <% end %>
  </div>
</footer>